.productList{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.productList__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.productList__title{
    color: #eee;
    font-size: 25px;
    align-self: center;
}