.header{
    display: flex;
    max-width: 800px;
    margin: 20px auto;
    justify-content: space-around;
    align-items: center;
}
.header__logo{
    cursor: pointer;
}
.search{
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}
.search__query{  
    width: 100%;
    height: 40px;
    border: none;
    background-color: #5b5b5b;
    border-radius: 10px 0 0 10px;
    font-size: 20px;
    color: #eee;
    padding-left: 15px;
}
.search__query:focus, .search__submit:focus{
    outline: none;
}
.search__submit{
    background-color: #ffbf00;
    border: none;
    height: 42px;
    font-size: 20px;
    color: #5b5b5b;
    border-radius: 0 10px 10px 0;
    padding: 5px 20px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .header{
        flex-direction: column;
        margin: 10px auto;
    }
    .search{
        margin-top: 15px;
        width: 97%;
    }
    .search__query{
        font-size: 18px;
        padding-left: 10px;
    }
}